In [35]:
%pip install pandas # 판다스 설치

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#': Expected package name at the start of dependency specifier
    #
    ^

In [36]:
import pandas as pd
growth = pd.Series([143, 150, 157, 160], index=["2018", "2019", "2020", "2021"])
print(growth)
growth["2018"]

2018    143
2019    150
2020    157
2021    160
dtype: int64

143

In [37]:
growth = pd.Series([143, 150, 157, 160])
growth

0    143
1    150
2    157
3    160
dtype: int64

In [38]:
import pandas as pd
growth = pd.Series([143, 150, 157, 160], index=["2018", "2019", "2020", "2020"])
growth["2020"]

2020    157
2020    160
dtype: int64

In [39]:
#시리즈
index=["2018", "2019", "2020", "2021"]
Y = pd.Series([143, 150, 157, 160], index=index)
C = pd.Series([165, 172, 175, 180], index=index)
growth = pd.DataFrame({
    "영희" : Y,
    "철수" : C
})
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [40]:
#data Frame = Series들을 결합해 놓은 형태
index=["2018", "2019", "2020", "2021"]
data = {
    "영희" : [143, 150, 157, 160],
    "철수" : [165, 172, 175, 180]
}
growth = pd.DataFrame(data, index = index)
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [41]:
print(growth.dtypes) 
growth.astype('float') #astype : 데이터 타입 변경

영희    int64
철수    int64
dtype: object

         영희     철수
2018  143.0  165.0
2019  150.0  172.0
2020  157.0  175.0
2021  160.0  180.0

In [42]:
growth.astype({'영희' : 'float'}) # 딕셔너리를 이용한 영희만 바꾸기

         영희   철수
2018  143.0  165
2019  150.0  172
2020  157.0  175
2021  160.0  180

In [43]:
#csv 불러오기
pd.read_csv("241216.csv", index_col=0)

     a  b  c
0    1  2  3
100  4  5  6

In [44]:
print(growth)

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [45]:
#csv 저장하기
growth.to_csv("output.csv")
# growth.to_csv("output.csv", index=False)
# growth.to_csv("output.csv", index=True)
# pd.DataFrame.to_csv(animals, "cows_and_goats.csv")

In [73]:
index=["2018", "2019", "2020", "2021"]
data = {
    "영희" : [143, 150, 157, 160],
    "철수" : [165, 172, 175, 180],
    "수철" : [141, 151, 161, 171]
}
growth = pd.DataFrame(data, index = index)
growth

       영희   철수   수철
2018  143  165  141
2019  150  172  151
2020  157  175  161
2021  160  180  171

In [47]:
growth["영희"]

2018    143
2019    150
2020    157
2021    160
Name: 영희, dtype: int64

In [48]:
growth.영희

2018    143
2019    150
2020    157
2021    160
Name: 영희, dtype: int64

In [49]:
growth['영희'][0]

C:\Users\zer12\AppData\Local\Temp\ipykernel_11012\1135744966.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  growth['영희'][0]

143

In [50]:
growth.iloc[0] #첫번째 행

영희    143
철수    165
수철    141
Name: 2018, dtype: int64

In [51]:
growth.iloc[1] #두번째 행

영희    150
철수    172
수철    151
Name: 2019, dtype: int64

In [52]:
growth.iloc[:,0]  #전체행,1열

2018    143
2019    150
2020    157
2021    160
Name: 영희, dtype: int64

In [53]:
growth.iloc[:2,0]  #1헁,2행, 1열

2018    143
2019    150
Name: 영희, dtype: int64

In [54]:
growth.iloc[[0,1], :2]  #1헁,2행, 1열,2열

       영희   철수
2018  143  165
2019  150  172

In [55]:
growth.iloc[-2:] # 뒤에서부터

       영희   철수   수철
2020  157  175  161
2021  160  180  171

In [56]:
#.lic[] : index 및 Colum명을 통해 location을 지정하는 방법
growth.loc['2020', '영희'] #2020년에 영희

157

In [57]:
growth.loc[:, "영희"] #모든 행에 대한 영희 키

2018    143
2019    150
2020    157
2021    160
Name: 영희, dtype: int64

In [58]:
growth.loc[["2018","2020"], ["영희","철수"]] #2018년 2020 영희와 철수 정보

       영희   철수
2018  143  165
2020  157  175

In [59]:
growth.iloc[[0,2], [0,1]]

       영희   철수
2018  143  165
2020  157  175

In [60]:
growth.loc["2018":"2020", "영희":"철수"]

       영희   철수
2018  143  165
2019  150  172
2020  157  175

In [61]:
growth.set_index("영희") # 특정 컬럼을 인덱스로 사용

      철수   수철
영희
143  165  141
150  172  151
157  175  161
160  180  171

In [62]:
growth.loc[growth.영희>157]

       영희   철수   수철
2021  160  180  171

In [63]:
growth.영희>150

2018    False
2019    False
2020     True
2021     True
Name: 영희, dtype: bool

In [64]:
growth.영희==150

2018    False
2019     True
2020    False
2021    False
Name: 영희, dtype: bool

In [65]:
growth["2019"] = 200
print(growth)

       영희   철수   수철  2019
2018  143  165  141   200
2019  150  172  151   200
2020  157  175  161   200
2021  160  180  171   200

In [71]:
# growth["거꾸로"] = range(len(growth), 0, -1)
# print(growth)

In [75]:
def check(row):
    if row["2018"] > 160:
        return 2
    elif row["2018"] > 150:
        return 1
    else:
        return 0 
growth.apply(check, axis="columns")

KeyError: '2018'

In [76]:
print(growth.columns)

Index(['영희', '철수', '수철'], dtype='object')

In [77]:
import pandas as pd

In [ ]:
index = ["영희","철수","영철","순자"]